{% load static %}

                                            
<div class = "grid-item">
    <a class="list-group-item list-group-item-action" href="{% url 'blog_details' blog.slug %}">
        <div class="card text-bg-dark" style="width: 28rem;" >
        
            <img src="{{ blog.image.url }}"  class="img-fluid" alt="" >
            <div class="card-img-overlay">
                <h5 class="card-title">
                
                    {{ blog.name|title }}
                
                </h5>
                <p class="card-text">{{blog.description|slice:"0:256"|safe}}...</p>
                
        </div>
    </a>
</div>