{% extends 'base.html' %}

{% block css_files %} 
<style>
    a { color: inherit; } 
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class = "row">
        <div class = "col-3 mt-3">
            {% include 'blog/partials/categoryList.html' %}
        </div>
        <div class = "col-9 mt-3">
            {% if blogs|length > 0 %}
                {% for blog in blogs %}
                    
                        {% include 'blog/partials/card.html' %}
                    
                {% endfor %}
            {% else %}
                <div class = "alert alert-warning">
                    No Planets
                </div>
            {% endif %}
        
        </div>
    </div>
</div>
{% endblock %}